{% extends 'base.html' %}

{% block title %}Home - Weather App{% endblock %} 
{% block header %}Welcome to the Weather App{% endblock %}
{% block content %}
<h2>Welcome to the Weather App</h2>
<div class="weather-update-box">
    <p><strong>Get current weather updates for any city.</strong></p>
</div><div class="features">
    <h2>Features</h2>
    <ul>
        <li><i class="fa fa-cloud-sun"></i>  Real-time weather updates</li>
        <li><i class="fa fa-calendar-alt"></i>  7-day forecasts</li>
        <li><i class="fa fa-exclamation-triangle"></i>  Alerts for severe weather conditions</li>
    </ul>
</div>

{% endblock %}
